#app {
  display: flex;
  margin-left: 100px;
}
.angle {
  display: flex;
}
.second {
  transform: translateX(2.4px) translateY(30.54px) rotate(0.2turn);
}
.third {
  transform: translateX(-53.8px) translateY(79.54px) rotate(0.4turn);
}
.fourth {
  transform: translateX(-145.8px) translateY(79.54px) rotate(0.6turn);
}
.fifth {
  transform: translateX(-202.4px) translateY(30.54px) rotate(0.8turn);
}
.item {
  border-right: 20px solid gold;
  border-top: 61.56px solid transparent;
  border-bottom: 27.52px solid transparent;
  width: 0;
  height: 0;
}
.right {
  transform: rotateY(180deg);
}
